/*  -- THEME COLORS

->DEFAULT COLOURS
text etc    light-black     #58585a
buttons     green wala      #2ABB9B
->COLOR TAGS
html        blue:           #19B5FE
css         voilet:         #34495e
cpp         darkgrey:       #2c3e50
php         lightblue:      #3498db
javascript  orange:         #d35400
jquery      pheekablue      #03C9A9
asp         lightred        #F5D76E
android     green           #2ECC71
java        red             #c0392b
wordpress   silver          #95a5a6
d-tools     green           #1abc9c
business    win8green       #26A65B
design      darkoragne      #e67e22
other       greyishblue     #aea8d3
*/


body { font-family:"Trebuchet MS", Helvetica, sans-serif;}
input, select, option, textarea { font-family:"Trebuchet MS", Helvetica, sans-serif; }
.clear { clear:both; }
.line-border { border:1px solid #ECF0F1; }
a { text-decoration:none; color:#58585a; }
ul li { color:#58585a; }
h1, h2, h3, h4, h5, h6, p { color:#58585a; }
.title { padding:15px 20px; }
.breadcrumb { margin-top:2%; margin-left:5%; }
.breadcrumb h2 { color:#2ABB9B; }
.notification-badge { display:block; position:absolute; margin:-40px 83px; padding:0 5px; font-size:12px; color:#00A8E7; background:#FFFFFF; }
.inline-buttons { padding:20px; float:left; }
.inline-buttons a { display:inline-block; padding:5px 10px; background:#2ABB9B; font-size:14px; color:#ffffff; }


.content-md {
    margin-top:18px;
    margin-left:5%;
    padding:10px 0;
    float:left;
    width:960px;
    background:#ffffff;
}
.content-lg {
    margin-top:20px;
    margin-left:5%;
    padding:10px 0 30px;
    float:left;
    width:90%;
    background:#ffffff;
}

.content-pref-wizard {
	margin:20px auto;
    padding:10px 0 30px;
    width:960px;
    background:#ffffff;
}
.content-pref-wizard h3 { padding:20px; }
.content-pref-wizard h3 small { font-size:10px; }
.content-pref-wizard a { float:right; display:block; }
/*-----------------------------------------------------------Profile-----------------------------------------------------------*/
.profile-pic { padding:15px 20px; float:left; }
.profile-pic img { border:10px solid #ECF0F1; }
.user-info { padding:15px 20px; }
.user-info p { font-size:14px; }
.course-cols { padding:20px; }
.course-cols ul { list-style:none; font-size:16px; }
.course-cols ul.cols li { padding:20px 0; }
.course-cols .col1 { width:20%; float:left; }
.course-cols .col2 { width:20%; float:left; }
.course-cols .col3 { width:20%; float:left; }
.course-cols .col4 { width:20%; float:left; }
.info { padding:10px 20px; font-size:14px; }
.cols-categories { padding:20px 20px; }
ul.profile { padding-bottom:20px; list-style:none; font-size:16px; }
ul.profile li  { padding:20px 100px 20px 0; }
.cols-categories .col1 { float:left; }
.cols-categories .col2 { float:left; }
/*-----------------------------------------------------------Account Settings-----------------------------------------------------------*/
table.settings { margin-left:20px; font-size:16px; color:#58585a; text-align:left; }
table.settings tr th { padding:20px 0; }
table.settings tr td { padding-left:80px; }

form table.editform { margin:20px auto; font-size:16px; color:#58585a; text-align:left; }
form table.editform tr th { margin:0 auto; padding-right:60px; }
form table.editform tr td { margin:0 auto; padding:12px 0; }
form table.editform tr td input { padding:5px; width:600px; font-size:16px; }
form table.editform tr td textarea { padding:5px; width:602.5px; font-size:16px; }
form table.editform tr td select { padding:5px; width:613.5px; font-size:16px; }
a.form-action { margin:20px 42px; padding:6px 12px; float:right; display:inline-block; font-size:16px; color:#FFFFFF; background:#2ABB9B; }
/*-----------------------------------------------------------End Account Settings-----------------------------------------------------------*/
/*--------------Summary Review------------------*/
button.summary-review { margin:20px 0px; padding:8px 0; width:150px; font-size:14px; background:#2ABB9B; color:#FFFFFF; border:1px solid #2ABB9B; transition:all 0.5s ease-out; }
    button.summary-review:hover { background:#ECF0F1; color:#2ABB9B; }
/*--------------End Summary Review------------------*/

/*-----------------------------------------------------------Learning Tracks-----------------------------------------------------------*/
ul.suggest-me-track { margin:20px auto 0; padding:0; width:18%; }
    ul.suggest-me-track li { margin:2px auto; padding:0; list-style:none; background:#2ABB9B; opacity:0.7; }
    ul.suggest-me-track li:hover { opacity:1; }
    ul.suggest-me-track li a { padding:20px 0 20px 70px; color:#FFFFFF; display:block; transition:all 0.5s ease-out; }
    span.suggest-me-track { margin:-10px 10px; position:absolute; }

#tracks .half-one { margin:20px 0 0 1.5%; padding:20px 0; width:47.5%; float:left; border:1px solid #2ABB9B; border-top:5px solid #2ABB9B; }
#tracks .half-two { margin:20px 1.5% 0 0; padding:20px 0; width:47.5%; float:right; border:1px solid #2ABB9B; border-top:5px solid #2ABB9B; }
#tracks .course-info { margin:0; }
#tracks .course-info h5 { margin:0; padding:0; padding:10px 20px; }
#tracks .course-info p.points { margin:-30px 20px; float:right; background:#ECF0F1; }
#tracks .course-info h2.course-name { padding:0 20px 0; color:#2ABB9B; }
#tracks .course-info a {color:#2ABB9B; }
#tracks .course-info h5.tiny-intro { padding:10px 20px; opacity:1; }
#tracks .course-info p.desc { padding:10px 20px; height:65px; line-height:1.5; overflow:hidden; font-size:13px; }
#tracks .buttons { margin:10px 20px; float:right; }
#tracks .buttons button { border:none; cursor:pointer; }

#course-progress-left { margin:20px; float:left; }
#course-progress-left h2, #course-progress-left h4, #course-progress-left h5 { padding:5px 0; }
#course-progress-right h4 { padding:5px 0; }
#course-progress-right { margin:20px; float:right; }
#track-description { margin:20px; }
.progress-bar { margin:0; padding:5px 5px; width:80%; }
.course-progress { margin:30px 20px 0; float:right; }
.course-progress button { border:none; cursor:pointer; }
.content-lg #course-col-track { margin:20px 20px; }
.course-number-col { margin:85px 0 0 10px; float:left; background:#58585A; width:100px; height:100px; border-radius:50%; opacity:0.4; }
.course-number-col-completed { margin:85px 0 0 10px; float:left; background:#2ABB9B; width:100px; height:100px; border-radius:50%; opacity:1; }
    .course-number-col h2 { padding:25px 0; font-size:42px; text-align:center; color:#FFFFFF; }
.course-track-border { margin:130px 0; float:left; width:700px; height:10px; background:#58585A; opacity:0.4; }
.course-track-border-completed { margin:130px 0; float:left; width:700px; height:10px; background:#2ABB9B; opacity:1; }
.course-col { margin:20px 0; padding:25px 0; float:left; border-top:2px solid #2ABB9B; width:350px; height:180px; background:#ECF0F1; opacity:0.4; }
.course-col-completed { margin:20px 0; padding:25px 0; float:left; border-top:2px solid #2ABB9B; width:350px; height:180px; background:#ECF0F1; opacity:1; }
    .course-col h4.level { margin:10px; padding:0; float:left; font-size:14px; }
    .course-col h4.course-name { margin:10px; font-size:18px; float:left; color:#2ABB9B; }
    .course-col .course-name a  {color:#2ABB9B; }
    .course-col p.points { margin:10px; padding:0 10px; font-size:14px; float:left; background:#ffffff; display:inline-block; }
    .course-col h4.rating { margin:10px; padding:0; float:right; font-size:14px; }
    .course-col img { margin:15px 125px 30px; }
    .course-col h5 { margin:10px 0 0 0; padding:0 20px; color:#FFFFFF; float:right; }
        .course-col h5.html { background:#19B5FE; }
        .course-col h5.css { background:#FCDC05; }
        .course-col h5.cpp { background:#67809F; }
        .course-col h5.php { background:#3A539B; }
        .course-col h5.javascript{ background:#DDA423; }
        .course-col h5.jquery { background:#2AE7C3; }
        .course-col h5.asp { background:#C0392B; }
        .course-col h5.android { background:#2ECC71; }
        .course-col h5.java{ background:#F22613; }
        .course-col h5.wordpress { background:#6C7A89; }
        .course-col h5.d-tools { background:#913D88; }
        .course-col h5.business { background:#34495e; }
        .course-col h5.design { background:#E67E22; }
        .course-col h5.other { background:#915E25; }
/*-----------------------------------------------------------End Learning Paths-----------------------------------------------------------*/